

      body {
        margin: 0;
      }
      .name {
        text-align: center;
        padding: 10px;
        size: large;
        background-color: rgb(158, 0, 32);
        text-decoration: none;
      }
      .name:hover{
        text-decoration:none;
      }
	
      .nav {
        font-size: 15pt;
        text-align: center;
        background-color: rgb(158, 0, 32);
      }
      .nav-link {
        text-decoration: none;
        display: inline-block;
        padding-bottom:10px;
        padding-right:10px;
        padding-left:10px;
        color: white;
        margin-bottom: 5px;
      }

      .nav-link:hover {
        text-decoration: none;
        color: rgb(91, 2, 20);
      }

    #headshot {
        padding-top:15pt;
        float: top;
        
    }

    .footer {
        text-align: center;
        padding: 10px;
        size: large;
        background-color: rgb(158, 0, 32);
        text-decoration: none;
    } 
    
    .research-title {
        color:white;
        background-color: rgb(158, 0, 32);
        padding: 1%;
        text-decoration: none;
    }

    .column {
        float: left;
        width: 16.66%;
        padding: 5px;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

    figcaption {
        color: black;
        padding: 2px;
        text-align: center;
        size-adjust: 70%;
        font-size: 90%;
      }





      

      